#scrollbar-wallets::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #161B4C;
}

#scrollbar-wallets::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #45377D;
}

#scrollbar-wallets::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #45377D;
}